# Ambiente Virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Pastas de construção do PyInstaller
build/
dist/

# Arquivo de especificação do PyInstaller (opcional, mas bom para ignorar)
*.spec

# Banco de dados local (para não subir dados de teste para o repositório)
planilhas.db

# Pasta de dados gerada pelo executável
data/